<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon " type="image/x-icon " href="wolf.png">
	<link rel="stylesheet" type="text/css" href="style_de_God-Wolf.css">
</head>

<body>
<div id="header">
			<ul class="nav">
				<li><a href="God-Wolf.html">Inicio</a></li>
				<li><a href="">Servicios</a></li>
				<li><a href="">Sobre Nosotros</a></li>
				<li><a href="">Contactanos</a></li>
			</ul>
		</div>
		<a class="b-clube"href="Formulario.html"> 
    	<IMG SRC="registered.png"  
            WIDTH="50px"  ALIGN="top">
    </a>    
    <a type="b-comprar">
    	<img src="carrito-de-compras.png"
    		width="40px" align="top">

    <a class="b-login" href="login.html">
    	<img src="iniciar-sesion.png"
    	width="70px" align="top">
    </a>
    </a>
    <br>
    <br>
    <center>
	<div id="welcome">
	<h1 >Bienvenidos a God-Wolf</h1>

    <h4>Aqui podras encontrar los mejores aparatos electronicos !!!Envio Gratis!!!</h4>
    </center>
	</div>
</body>
</html>